/* assignment6 */


/* universal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}
body{
    background-color: #2a2b30;
}


/* header styles */
header{
    background-color: #2a2b30;
    width:86%;
    margin:45px auto;
}

header .title{   
    width:200px;  
}


/* menu styles */
.menu-container{
    position: relative;
}
.outer-box{
    margin-left:20px;margin-right:20px;
}
.menus{
    position: absolute;
    top: -16px;
    right: 20px;
}
.span-icon{
    display: inline-block;
    width:70px;
    height:70px;
    border-style: solid;
    background-color:#d8d8d8;
    border-radius: 50%; 
}
.icon{
    padding: 30px;
}
.menu-icon{
    margin: auto;
    padding-bottom:50px;
}
.menu-items{
    position:absolute;
    right:35px;
    top:130px;
    width: 230px;
    height:150px;
    background-color: #ffffff;
    text-align: justify;
    border: solid;    
    display: none;
    padding:10px 0;
    z-index: 2;
    border-color: #ffffff;
    
}
.menu-items div{
    font-size: 16px;
    margin:15px;
    padding-left: 20px;
    font-weight: 700;
}
.menus:hover .menu-items{
    display:inline-block;     
}


/* card styles */

.card-container{
    width: 86%;
    margin: auto;
    background-color: #2a2b30;
    margin-bottom: 70px;
}
.card{
    position: relative;
    display: inline-block;
    width: 320px;
    margin: 0px 20px 50px;
    
}
.image-panel{
     padding: 70px 40px 0px 40px;
     height: 300px;
     width:230px;
     background-color: #24252a;
}
.image-block,.image-block img{
    background-color: #24252a;
}
.image-block{
    width: 180px;
    margin: auto;
}
.title img, .image-block img{
    width: 100%;
    padding: 10px;
    margin: auto;
}
.image-block img{
    height: 240px;
}
.product-name{
    font-size: 23px;
    font-weight: 400;
    padding-top: 10px;
    color:#ffffff;
}
.price{
    font-size:20px;
    font-weight:300;
    padding: 3px 0 10px 0;
    color: #aaaaaa;
}
button{
    padding:10px 14px;
    font-size: 15px;
    font-weight: 700;
    color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    border-color:#aaaaaa ;
    background-color: #2a2b30
    
}
.size{
    position: absolute;
    right: 29px;
    bottom: 90px;
    width:55px;
    height:55px;
    display: inline-block;
    background-color: #87b181;
    border-radius: 50%;
    padding: 2px;
    text-align: center; 
}
.size p{
    margin-top:15px;
    font-size: 23px;
    font-weight: 500;
}
.card i{
    position:absolute;
    top:20px;
    right:27px;
    color:#87b181;
    font-size: 22px;
}

/* card styles */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #000000;
    width: 100%;
}
.footer-menus{
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    padding: 30px;
    font-weight: 700;
}