/* universal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
}
body{
    background-color: #2a2b30;
}


/* header styles */
header{
    background-color: #2a2b30;
    width:86%;
    margin:45px auto;
}

header .title{   
    width:200px;  
}


/* menu styles */
.menu-container{
    position: relative;
}
.menus{
    position: absolute;
    top: -13px;
    right: 20px;
}
.menus span{
    display: inline-block;
    width:70px;
    height:70px;
    border-style: solid;
    background-color:#d8d8d8;
    border-radius: 50%; 
}
.icon{
    padding: 30px;
}
.menu-icon{
    margin: auto;
    padding-bottom:50px;
}
.menu-items{
    background-color: #ffffff;
    position:absolute;
    right:10px;
    top:130px;
    width: 250px;
    
    text-align: justify;
    border: solid;    
    display: none;
    padding:10px 0;
    z-index: 2;
    border-color: #ffffff;
    
}
.menu-items div{
    font-size: 18px;
    padding: 7px;
    padding-left: 20px;
    font-weight: 700;
}
.menus:hover .menu-items{
    display:inline-block;     
}


/* card styles */

.card-container{
    width: 86%;
    margin: auto;
    background-color: #2a2b30;
    margin-bottom: 70px;
}
.card{
    display: inline-block;
    width: 320px;
    margin: 0px 20px 50px;
    position: relative;
}
.image-panel{
     padding:60px;
     background-color: #24252a;
}
.image-block,.image-block img{
    background-color: #24252a;
}
img{
    width: 100%;
    /* max-width: 130px; */
    max-height: 200px;
    padding-top: 30px;;
}
.card-name{
    font-size: 25px;
    font-weight: 300;
    padding-top: 10px;
    color:#ffffff;
}
.price{
    font-size:22px;
    font-weight:300;
    padding: 3px 0 10px 0;
    color: #aaaaaa;
}
button{
    padding:10px 14px;
    font-size: 16px;
    font-weight: 700;
    color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    border-color:#aaaaaa ;
    background-color: #2a2b30
    
}
.size{
    width:55px;
    height:55px;
    display: inline-block;
    background-color: #87b181;
    position: absolute;
    right: 20px;
    bottom: 90px;
    border-radius: 50%;
    padding: 2px;
    text-align: center; 
}
.size p{
    margin-top:15px;
    font-size: 23px;
    font-weight: 500;
}
.card i{
    color:#87b181;
    position:absolute;
    top:20px;
    right:20px;
    font-size: 22px;
}

/* card styles */
footer{
    text-align: center;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-menus{
 display: inline-block;
 font-size: 25px;
 color: #ffffff;
 padding: 30px;
}