/* assignment7 */

*{
    background-color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

/* header styles */
.email{
    color: #ffffff;
    
}

.mobile-view{
    display: none;
}

.lap-view{
    text-align:right;
    font-size: 30px;
    font-weight: 900;
    margin: 100px 130px;
}

header{
    margin: 150px 0;
}
.title-name{
    color: #ffffff;
    font-size: 160px;
    font-weight: 100;
}
.title-name span{
    font-weight: 500;
}
.title-desc{
    color:#cecece;
    font-size: 60px;;
}
.title-desc span{
    color:#4a91e3;
}


/* image-container styles */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 40px auto;
    
}
.image-card{
    width: 430px;
    margin: 10px;
}
img{
    width: 100%;
}

/* slogan styles */
.slogan{
    font-size: 50px;
    color:#cecece;
    padding: 20px 0;
    font-weight: 700;
    margin:100px 0;
}
.slogan span{
    color:#b8e886;
}

/* logo-container styles */
.logo-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width: 75%;
    margin : 10px auto;
}
.logo {
    margin: auto;
    text-align: center;
}
.logo img{
    width:60%;
}



/* line-design */
.line{
    color: aliceblue;
    display: flex;
    width:200px;
    margin: auto;
    margin-top:200px;
    margin-bottom:100px;
    
}
.line hr{
    height:1px;
    background-color: aliceblue;
    margin:0 20px;
}
.first-line{
    width: 10%;
}

.second-line{
    width: 80%;
}

/* icon-container design */
.icon-container{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin: auto;
}

.font-icon{
    width:50px;
    height:50px;
    margin: 30px;
    border-radius: 50%;
    border:solid 2px white;
    color:white;
    margin:auto;
}
.font-icon i{
    font-size:35px;
    margin: 8px 0;
}


/* footer design */
footer{
    color:#ffffff;
    font-size: 20px;
    margin: 110px;
}

@media only screen and (max-width :992px ){

    body{
        margin: 0%;
    }
    header{
        margin: 100px 0;
    }
    .title-name{    
        font-size: 100px;
        margin :25px 0;
    }
    .title-desc{
        font-size: 60px;;
    }
    .lap-view{
        display: none;
    }
    .mobile-view{
        display: block;
        text-align:center;
        font-size: 12px;
        margin:15px 0 230px 0;
    }

    .image-card {
        width: 730px;
        margin: 20px auto;
    }
    .slogan{
        font-size: 53px;
        margin:90px 0 30px 0;
    }
    .line{
        width:30%;
        margin: auto;
        margin-top:200px;
        margin-bottom:100px;
    }
    .flex-container{
        margin: 30px auto;      
    }

    .logo-container{
        
        width: 60%;
    }
     .logo {
        height:320px;
        width:50%;
    }
    .logo img{
        margin: 70px 0;
        max-width: 80%;
    } 
    .adidas img{
        margin:20px 0;
    }
    .ikea img{
        margin-top:100px;
    }

    .luftansa img{
        margin-top:110px;
    }
    .line{ 
        margin-top:120px;
        margin-bottom:30px;  
    }

    .icon-container{
        width: 70%;
        margin: 90px auto;
    }

    .font-icon{
        width:90px;
        height:90px;
    }
    .font-icon i{
        font-size:60px;
        margin: 15px 0;
    }
    footer{
        font-size: 20px;
        margin: 30px;
    }


}